<section class="about-section">
  <h1>À Propos des Pays du Monde</h1>
  <header class="about-header">
    <h2>~ DÉCOUVREZ LE MONDE</h2>
  </header>
  <div class="about-content">
    <div class="text-content">
      <div class="text-content">
        <h1>Explorer, Apprendre et Connecter.</h1>
        <p>
          Notre passion est de fournir une fenêtre sur le monde. À travers les
          données fournies par l'API Rest Countries, nous vous offrons la
          possibilité d'explorer les nations de notre planète. De l'Afghanistan
          au Zimbabwe, découvrez les cultures, les langues, les géographies et
          bien plus encore.
        </p>
        <p>
          Que vous soyez un étudiant en quête de connaissances, un enseignant à
          la recherche de ressources éducatives, ou simplement un curieux du
          monde, notre plateforme est le point de départ idéal pour votre
          exploration. Avec des informations détaillées sur chaque pays, vous
          pouvez voyager virtuellement à travers continents et océans, sans
          jamais quitter votre fauteuil.
        </p>
        <p>
          Utilisez notre plateforme pour approfondir votre compréhension des
          différents peuples et pays du monde. Apprenez des faits intéressants
          sur les devises, les drapeaux, les histoires et les systèmes
          politiques qui façonnent notre monde. C'est une ressource inestimable
          pour l'éducation et la sensibilisation culturelle.
        </p>
      </div>
    </div>
    <div class="image-content">
      <!-- Place your image here -->
      <img src="../../assets/images/imagecounryall.jpg" alt="" />
    </div>
  </div>
</section>
