<!-- Asia-countries.component.html -->
<div *ngIf="message">
  <p>{{ message }}</p>
</div>
<div *ngIf="filteredCountries && filteredCountries.length > 0">
  <div *ngFor="let country of filteredCountries" class="country-container">
    <div class="country-block">
      <h1>{{ country.name.common }}</h1>
      <p>Région: {{ country.region }}</p>
      <img
        [src]="country.flags.png"
        alt="Drapeau de {{ country.name.common }}"
      />
    </div>
  </div>
</div>
<div
  *ngIf="!message && (!asiaCountries || asiaCountries.length === 0)"
  #noResults
>
  <p>No countries found in Asia.</p>
</div>
