<!-- africa-countries.component.html -->

<div *ngIf="message">
  <p>{{ message }}</p>
</div>
<div *ngIf="filteredCountries && filteredCountries.length > 0">
  <div *ngFor="let country of filteredCountries" class="country-container">
    <div class="country-block">
      <h1>{{ country.name.common }}</h1>
      <p>Région: {{ country.region }}</p>
      <a [routerLink]="['/country-details', country.cca3]"
        ><img
          [src]="country.flags.png"
          alt="Drapeau de {{ country.name.common }}"
      /></a>
      <!-- Ajoutez d'autres propriétés au besoin -->
    </div>
  </div>
</div>
<div
  *ngIf="!message && (!africaCountries || africaCountries.length === 0)"
  #noResults
>
  <p>No countries found in Africa.</p>
</div>
