/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

content,
footer {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.blue {
  color: blue; /* Ajoutez les styles bleus que vous souhaitez */
}
/* all-my-countries.component.css */
.country-container {
  margin-top: 25px;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.country-block {
  border: 1px solid #ccc;
  padding: 10px;
  width: 70%; /* Adjust the width as needed */
}

/* Add media queries for responsiveness if required */
